{{ form_start(form) }}

<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

{% for widget in form.children %}

    <div class="form-row">
        <div class="col-md-12">
            {% if widget.vars.name != "_token" %}
                {{ form_label(widget) }}
            {% endif %}
            {{ form_widget(widget) }}
        </div>
        {% if widget.vars.attr is defined and widget.vars.attr.type is defined and widget.vars.attr.type == 'image' %}
            <div class="col-md-12">
                {% set prop = widget.vars.name %}
                <a href="{{ attribute(form.vars.data, prop) }}" target="_blank">
                    <img src="{{ '/uploads/'~attribute(form.vars.data, prop) }}" height="200">
                </a>
            </div>
        {% endif %}
    </div>

{% endfor %}

<hr>
<a href="{{ path("#{route_prefix}_index") }}" class="btn btn-danger">{{ 'cancel'|trans({}, 'easy_cms') }}</a>

<button type="submit" class="btn btn-success">{{ 'save'|trans({}, 'easy_cms') }}</button>

{{ form_end(form, {'render_rest': false}) }}
