{% if nbPages > 1 %}
    {% set nearbyPagesLimit = 4 %}
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
            {{ 'crud.pagination.info'|trans({'%count%': totalCount, '%from%': ((currentPage - 1) * limit) + 1, '%to%': ((currentPage - 1) * limit) + currentCount }, 'easy_cms') }}
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if currentPage != 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path(url, params|merge({'page': 1})) }}">{{ 'crud.pagination.first'|trans({}, 'easy_cms') }}</a></li>
                {% endif %}
                {% for i in 1..nbPages %}
                    {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %}  dot before
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %}  dot after
                        <li class="page-item  disabled"><a class="page-link" href="#">...</a></li>
                    {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %}  hide all before
                    {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %}  hide all after
                    {% else %}
                        <li {% if currentPage == loop.index %} class="page-item active"{% endif %}>
                            <a class="page-link" href="{{ path(url, params|merge({'page': loop.index})) }}">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if currentPage != nbPages %}
                    <li class="page-item"><a class="page-link" href="{{ path(url, params|merge({'page': nbPages})) }}">{{ 'crud.pagination.last'|trans({}, 'easy_cms') }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
